<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">

          {% if site.email %}
          <li>
            <a href="mailto: {{ site.email }}" title="{{ site.email}}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse fa-envelope"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" title="{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse fa-github"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}" title="{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse fa-linkedin"></i>
              </span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse fa-rss"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

    </div>  
    <p class="copyright text-muted">© {{site.name}} • {{ 'now' | date: "%Y" }} •</p>
  </div>

</footer>
